<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List of Deviations</title>
</head>
<body>
<h1>List of Deviations</h1>
<div>
    <table>
        <thead>
        <tr>
            <td scope="col">Equipment</td>
            <td scope="col">Equipment Serial Number</td>
            <td scope="col">Param Name</td>
            <td scope="col">Deviation</td>
            <td scope="col">Last Value</td>
        </tr>
        </thead>
        <tbody th:each="item : ${devs}">
        <tr>
            <td th:text="${item.getCurrentParam().getEquipment().getName()}"></td>
            <td th:text="${item.getCurrentParam().getEquipment().getSerialNum()}"></td>
            <td th:text="${item.getCurrentParam().getName()}"></td>
            <td th:text="${item.getValue_dev()}"></td>
            <td th:text="${item.getCurrentParam().getValue()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>